p{
    color: #ffff;
}
h1{
    color: #ffff;
    font-size: 38px;
    font-weight: 2rem;
    line-height: 30px;
}
h2{
    color: #ffff;
    font-size: 36px;
    font-weight: 1.8rem;
    line-height: 28px;
}
h3{
    color: #ffff;
    font-size: 24px;
    font-weight: 1.5rem;
    line-height: 26px;
}
h4{
    color: #ffff;
    font-size: 20px;
    font-weight: 1.25rem;
    line-height: 22px;
}
h5{
    color: #ffff;
    font-size: 18px;
    font-weight: 1.125rem;
    line-height: 20px;
}
h6{
    color: #ffff;
    font-size: 26px;
    font-weight: 1rem;
    line-height: 18px;
}

.fs_1{
    font-size: 25px;
}
.fs_2{
    font-size: 20px;
}
.fs_3{
    font-size: 18px;
}
.fs_4{
    font-size: 15px;
}
.fs_5{
    font-size: 12px;
}


.fw_1{
    font-weight: 700;
}
.fw_2{
    font-weight: 600;
}
.fw_3{
    font-weight: 500;
}
.fw_4{
    font-weight: 400;
}
.fw_5{
    font-weight: 300;
}

.bg_primary{
    background-color: #f9ab00;
}
.btn{
    border-radius: 5px;
    padding: 5px 10px;
}
.color_primary{
    color: #f9ab00 !important;
}
.color_light{
    color: #ffff !important;
}
.color_dark{
    color: #000 !important;
}
.text_center{
   text-align: center;
}
a{
    list-style: none;
}

.border_radius_5{
    border-radius: 5px;
}
.border_radius_10{
    border-radius: 10px;
}
.border_radius_15{
    border-radius: 15px;
}
